<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>servlets.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaServlet</servlet-name>
        <servlet-class>servlets.EntradaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaidaServlet</servlet-name>
        <servlet-class>servlets.SaidaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaServlet</servlet-name>
        <url-pattern>/entrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaidaServlet</servlet-name>
        <url-pattern>/saida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/cadastraUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
