/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/04/2015, 21:09:21
*/

*{
    margin: 0;
    padding: 0;
}

.menu{
    list-style: none;
    border: 1px solid;
    float: left;
    font-size: 15px;
}

.menu li{
    position: relative;
    float: left;
    border-right: 1px solid;
}

.menu li a{
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: #333;
}

.menu li a:hover{
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
    position: absolute;
    top: 27px;
    left: 0;
    display: none;
}

.menu li:hover ul{
    display: block;
} 

.menu li:over ul{
    display: block;
}

.menu li ul li{
    border: 1px solid;
    display: block;
    width: 150px;
}

div *{
    background-color: lightgrey;
    width: 800px;
    height: 500px;
    padding: 25px;
    margin: 25px;
    border: 1px solid;
}